.dashContainer {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    background: rgba(210, 210, 210, 0.301); /* Gradient color */
    padding: 5px 10px;
  }
  
  .dashCardContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 5px;
    width: 300px;
  }
  